/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Style for the header */
header {
    background-color: #000000; 
    color: #fff; 
    padding: 10px 0;
    position: fixed;
    top: 0; 
    width: 100%; 
    height: 8%;
    z-index: 100;
  }
  
  /* Style for the navigation menu */
  nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px; 
  }
  
  nav a {
    text-decoration: none; 
    color: #fff; 
  }
  
nav ul li a:hover{
    background-color: #fb0c0c;
}

/* Style hero section */
.hero {
    background-image: url('logo.png'); 
    background-position: center;
   
    text-align: center;
    padding: 200px ;
    height: 600px;
    color: #ede1e1;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #520606;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #00b33c;
}

/* Style features section */
.features {
    text-align: center;
    padding: 50px 0;
}

.feature {
    margin-bottom: 30px;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style footer */
footer {
    background-color: #0a0707;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Style top navbar */
.top-navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.top-navbar nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.top-navbar nav ul li {
    margin: 0;
}

.top-navbar nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.top-navbar nav ul li:last-child a {
    margin-right: 0;
}

/* Style home sections */
.home-section {
    flex-basis: calc(33.33% - 20px); /* Untuk mengatur tiga bagian menjadi tiga kolom yang sama lebar */
    text-align: center;
    padding: 20px;
    margin-right: 20px; /* Untuk memberi jarak di antara setiap bagian */
    background-color: #f0f0f0;
}

.home-section img {
    max-width: 100%;
    height: auto;
}

.home-section h1 {
    font-size: 24px;
    margin-top: 10px;
}

.home-section p {
    font-size: 16px;
    margin-top: 10px;
}

.home-section .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.home-section .btn:hover {
    background-color: #0056b3;
}
 .container{
    display: flex;
    padding: 40px;
 }
/* Style sidebar and other elements */

/* Gaya lainnya tetap sama */
